.settings-title {
    margin-bottom: 10px;
    font-size: 20px;
    -unity-font-style: bold;
}

.flex-right {
    flex-direction: row;
    height: 16px;
    margin-left: 0;
}

.section-title {
    -unity-font-style: bold;
    margin-bottom: 5px;
}

.assembly-list-view {
    flex-shrink: 1;
    flex-grow: 1;
    height: 400px;
}

.settings-container {
    margin-left: 8px;
    margin-right: 0;
    margin-top: 2px;
    margin-bottom: 0;
}
